.banner {
    background: url("https://cdn.discordapp.com/attachments/857994609800249394/1035389853472399492/b2b902c8-97df-4a91-a302-06d5069329e5.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}